.section-four-text{
    color: rgb(51, 62, 72);
    width: 100%;
    overflow: hidden;
    padding-top: 5%;
}

.cards-wrapper .cards{
    width: 100em;
}

.section-four-text .section-one-text-name {
    position: relative;
    left: 12%;
}

.section-four-text .section-one-heading {
    position: relative;
    left: 12%;
}

@media (max-width: 1105px){
    .section-four-text{
        text-align: center;
    }

    .section-four-text .section-one-text-name {
        left: 0;
    }
    
    .section-four-text .section-one-heading {
        left: 0;
    }
}